{% extends "base.html.twig" %}
{% block titre %}Accueil {% endblock %}
{% block section %}
    <section class="w-100 flex">
        {% for article in articles|slice(-3) %}

                <div class="w-30 ">
                <h2 >{{  article.title }}</h2>
                    <div><img src="{{ article.image }}" alt="" class="image"></div>
                </div>


        {% endfor %}

    </section>
    <div class=""><img src="{{ asset('assets/img/photo.jpg') }}" alt="" class="w"></div>
{% endblock %}